.slider {
  display: flex;
  align-items: center;
  gap: 8px;
}

.slider input {
  padding: 0;
  margin: 0;
  width: 100%;
}

.schedule-controls > canvas {
  position: absolute;
  top: 10px;
  right: 10px;
}

.controls,
.controls select {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}
