.sde-widget {
  display: grid;
  grid-template:
    "canvas trajectories" 68px
    "canvas steps" 36px
    "canvas diffusion-coefficient" 132px
    "canvas regenerate" 36px
    "canvas time" 36px
    / 480px 200px;
  gap: 4px 0;
  position: relative;
}

.sde-widget {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sde-widget input[type="range"],
.sde-widget select {
    width: 100%;
    height: 22px;
}

.sde-widget .slider {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sde-widget .slider input {
    padding: 0;
    margin: 0;
}

.sde-widget .slider span {
    width: 60px;
}

.sde-widget h3 {
    margin: 0;
}

.sde-widget,
.sde-widget h3 {
    font-size: 12px;
    line-height: 32px;
}

.sde-widget > canvas {
    grid-area: canvas;
}

.sde-widget > .trajectories {
    grid-area: trajectories;
    border-bottom: 1px solid #ccc;
}
.sde-widget > .steps-control {
    grid-area: steps;
    border-bottom: 1px solid #ccc;
}
.sde-widget > .regenerate-control {
    grid-area: regenerate;
    border-bottom: 1px solid #ccc;
}

.sde-widget > .diffusion-coefficient {
    grid-area: diffusion-coefficient;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.sde-widget > .diffusion-coefficient canvas {
    position: absolute;
    top: 0;
    right: 0;
}

.sde-widget > .time-slider {
    grid-area: time;
}


.sde-widget > .diffusion-coefficient label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sde-widget > .trajectories label {
    display: block;
}